In [2]:
n1= [1,3,6,4,6,7,8,23,45,6,7,1]
n2 = [x+1 for x in n1]
n2

[2, 4, 7, 5, 7, 8, 9, 24, 46, 7, 8, 2]

In [5]:
# binary n3- whenever is greater than the mean print 1 or 0
n3 = []
for x in n1:
    if x > sum(n1)/len(n1):
        x1=1
        n3.append(x)
    else:
        y=0
        n3.append(y)
n3
n1

[1, 3, 6, 4, 6, 7, 8, 23, 45, 6, 7, 1]

In [12]:
n4 = [1,1,1,0,0,1,0,1,0,25,30]
n5 = [1 if x==0 else 0 if  x==1 else x for x in n4]
print (n5)

[0, 0, 0, 1, 1, 0, 1, 0, 1, 25, 30]

In [13]:
n10=[-10,2,5,-12,9,5,-8,4]
[[x**2 , x**.5] for x in [y for y in n10 if y >= 0]]

[[4, 1.4142135623730951],
 [25, 2.23606797749979],
 [81, 3.0],
 [25, 2.23606797749979],
 [16, 2.0]]

In [14]:
#create a list with 4 or 5 strings--people name
cols =['name','age','salary']
values = [['bob','alex','sue'],[60,17,35],[77000,80000,112000]]
# create a dictionary comprehension
#create a dataframe out of the dictionary

final ={key:value for key,value in zip(cols,values)}
final

{'age': [60, 17, 35],
 'name': ['bob', 'alex', 'sue'],
 'salary': [77000, 80000, 112000]}

In [17]:
import pandas as pd
pd.DataFrame(final)

   age  name  salary
0   60   bob   77000
1   17  alex   80000
2   35   sue  112000