In [2]:
import pandas as pd
import numpy as np

In [9]:
# create a small dictionary with different data types

dft = pd.DataFrame(dict(A = np.random.rand(3),
                        B = 1,
                        C = 'foo',
                        D = pd.Timestamp('20010102'),
                        E = pd.Series([1.0]*3).astype('float32'),
                                F = False,
                                G = pd.Series([1]*3,dtype='int8')))

dft

          A  B    C          D    E      F  G
0  0.326128  1  foo 2001-01-02  1.0  False  1
1  0.428094  1  foo 2001-01-02  1.0  False  1
2  0.380030  1  foo 2001-01-02  1.0  False  1

In [7]:
# There is a really easy way to see what kind of dtypes 
# are in each column. 

dft.dtypes

A           float64
B             int64
C            object
D    datetime64[ns]
E           float32
F              bool
G              int8
dtype: object

In [10]:
# If a pandas object contains data multiple dtypes IN A 
# SINGLE COLUMN, the dtype of the column will be chosen 
# to accommodate all of the data types (object is the 
# most general).
# these ints are coerced to floats

pd.Series([1, 2, 3, 4, 5, 6.])

0    1
1    2
2    3
3    4
4    5
5    6
dtype: float64

In [10]:
# string data forces an ``object`` dtype

pd.Series([1, 2, 3, 6., 'foo'])
test = pd.Series([1, 2, 3, 6., 'foo'])

In [12]:
# The method get_dtype_counts() will return the number 
# of columns of each type in a DataFrame:

dft.get_dtype_counts()

bool              1
datetime64[ns]    1
float32           1
float64           1
int64             1
int8              1
object            1
dtype: int64

In [14]:
# create a small data frame. 

df = pd.DataFrame(np.random.randn(5, 4), columns=['a', 'b', 'c', 'd'])
df

          a         b         c         d
0 -0.047028 -1.504698  0.269638 -0.816408
1 -3.261644 -0.608659 -0.282674  0.463527
2  0.246436  2.295063  0.422838  1.335777
3  2.025243 -1.886445 -0.198694 -1.295855
4 -0.175267  1.212970 -0.375170 -0.302891

In [23]:
# Use df.apply to find the square root of all the values. 
# NaN means not a number

dfnan =df.apply(np.sqrt)
dfnan

          a         b         c         d
0       NaN       NaN  0.519267       NaN
1       NaN       NaN       NaN  0.680828
2  0.496423  1.514947  0.650260  1.155758
3  1.423110       NaN       NaN       NaN
4       NaN  1.101349       NaN       NaN

In [16]:
# find the mean of all of the columns

df.apply(np.mean, axis=0)

a   -0.242452
b   -0.098354
c   -0.032812
d   -0.123170
dtype: float64

In [19]:
df.apply(np.mean, axis = 0)

a   -0.242452
b   -0.098354
c   -0.032812
d   -0.123170
dtype: float64

In [25]:
dfnan["a"] = dfnan.fillna(np.mean(df["a"]))
dfnan

          a         b         c         d
0 -0.242452       NaN  0.519267       NaN
1 -0.242452       NaN       NaN  0.680828
2  0.496423  1.514947  0.650260  1.155758
3  1.423110       NaN       NaN       NaN
4 -0.242452  1.101349       NaN       NaN

In [52]:
# find the mean of all of the rows

df.apply(np.mean, axis=1)

0   -0.107741
1    0.150478
2    0.006714
3    0.467566
4   -0.253156
dtype: float64

In [55]:
# Let's create a random array with 50 numbers, ranging 
# from 0 to 7.

data = np.random.randint(0, 7, size = 50)
data

array([6, 1, 0, 6, 2, 6, 0, 4, 1, 4, 0, 2, 0, 5, 6, 6, 4, 2, 6, 0, 5, 1, 5,
       5, 1, 1, 6, 1, 5, 1, 5, 3, 1, 5, 5, 2, 3, 3, 5, 6, 4, 4, 4, 4, 2, 4,
       2, 1, 6, 5])

In [56]:
# convert the array into a series

s = pd.Series(data)

In [58]:
# How many of each number is there in the series? Enter 
# value_counts()

pd.value_counts(s)

5    10
6     9
1     9
4     8
2     6
0     5
3     3
dtype: int64